@{
    ViewData["Title"] = "Privacy Policy";
}
<h5>Programın çalışmaya devam etmesi için Veri Tabanında İlgili Tabloların Create edilmesi gerekmektedir. Devam etmek için Butona Tıklayınız.</h5>
<form method="post" action="/Home/CreateTables">
    
    <input type="submit" value="Tabloları Oluştur" />
</form>