@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<a href='@Url.Action("Onay", "Home")'>
    <button>Onay</button>
</a>

<a href='@Url.Action("SetInformation", "Home")'>
    <button>Şehir ve Kategori Düzenleme</button>
</a>
